option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:app

commands:
  01_create_venv:
    command: "/usr/bin/python3 -m venv /home/ec2-user/venv && source /home/ec2-user/venv/bin/activate && /home/ec2-user/venv/bin/pip install -r /var/app/staging/requirements.txt"
    ignoreErrors: false

container_commands:
  02_install_dependencies:
    command: "/home/ec2-user/venv/bin/pip install -r /var/app/staging/requirements.txt"
    leader_only: true
